// Rules for ESLint 2.3.0 (March 4, 2016)
// Rules: http://eslint.org/docs/rules
{
  "extends": "eslint:recommended",
  "env": {
    "commonjs": true
  },
  "rules": {
    // Possible Errors

    "no-console": "warn", // default: "error"
    "no-extra-parens": "error", // default: "off"
    "no-unexpected-multiline": "error", // default: "off"

    // Best Practices

    "block-scoped-var": "error", // default: "off"
    "consistent-return": "error", // default: "off"
    "curly": [ "error", "all" ], // default: [ "off", "all" ]
    "default-case": "error", // default: "off"
    "dot-location": [ "error", "property" ], // default: "off"
    "dot-notation": [ "error", { "allowKeywords": true } ], // default: [ "off", { "allowKeywords": true } ]
    "eqeqeq": [ "error", "smart" ], // default: "off"
    "no-alert": "warn", // default: "off"
    "no-caller": "error", // default: "off"
    "no-case-declarations": "error", // default: "off"
    "no-div-regex": "error", // default: "off"
    "no-else-return": "error", // default: "off"
    "no-empty-pattern": "error", // default: "off"
    "no-eq-null": "error", // default: "off"
    "no-eval": "error", // default: "off"
    "no-extend-native": "error", // default: "off"
    "no-extra-bind": "error", // default: "off"
    "no-floating-decimal": "error", // default: "off"
    "no-implied-eval": "error", // default: "off"
    "no-iterator": "error", // default: "off"
    "no-labels": "error", // default: "off"
    "no-lone-blocks": "error", // default: "off"
    "no-loop-func": "error", // default: "off"
    "no-multi-spaces": [ "error", { "exceptions": { "VariableDeclarator": true, "Property": true } } ], // default: "off"
    "no-multi-str": "error", // default: "off"
    "no-native-reassign": "error", // default: "off"
    "no-new-func": "error", // default: "off"
    "no-new-wrappers": "error", // default: "off"
    "no-new": "error", // default: "off"
    "no-octal-escape": "error", // default: "off"
    "no-process-env": "error", // default: "off"
    "no-proto": "error", // default: "off"
    "no-return-assign": "error", // default: "off"
    "no-script-url": "error", // default: "off"
    "no-self-compare": "error", // default: "off"
    "no-sequences": "error", // default: "off"
    "no-throw-literal": "error", // default: "off"
    "no-unused-expressions": "error", // default: "off"
    "no-useless-call": "error", // default: "off"
    "no-useless-concat": "error", // default: "off"
    "no-void": "error", // default: "off"
    "no-warning-comments": [ "warn", { "terms": [ "todo", "fixme", "xxx" ], "location": "start" } ], // default: [ "off", { "terms": [ "todo", "fixme", "xxx" ], "location": "start" } ]
    "no-with": "error", // default: "off"
    "radix": "error", // default: "off"
    "wrap-iife": [ "error", "outside" ], // default: "off"
    "yoda": [ "error", "never" ], // default: [ "off", "never" ]

    // Strict Mode

    "strict": [ "error", "global" ], // default: "off"

    // Variables

    "no-catch-shadow": "error", // default: "off"
    "no-label-var": "error", // default: "off"
    "no-shadow-restricted-names": "error", // default: "off"
    "no-shadow": "error", // default: "off"
    "no-undef-init": "error", // default: "off"
    "no-undefined": "error", // default: "off"
    "no-use-before-define": [ "error", "nofunc" ], // default: "off"

    // Node.js and CommonJS

    "global-require": "error", // default: "off"
    "handle-callback-err": "error", // default: "off"
    "no-mixed-requires": "error", // default: [ "off", false ]
    "no-new-require": "error", // default: "off"
    "no-path-concat": "error", // default: "off"
    "no-process-exit": "error", // default: "off"

    // Stylistic Issues

    "array-bracket-spacing": [ "error", "always" ], // default: [ "off", "never" ]
    "block-spacing": [ "error", "always" ], // default: "off"
    "brace-style": [ "error", "1tbs", { "allowSingleLine": true } ], // default: [ "off", "1tbs" ]
    "camelcase": [ "error", { "properties": "always" } ], // default: "off"
    "comma-spacing": [ "error", { "before": false, "after": true } ], // default: "off"
    "comma-style": [ "error", "last" ], // default: "off"
    "computed-property-spacing": [ "error", "never" ], // default: [ "off", "never" ]
    "consistent-this": [ "error", "self" ], // default: [ "off", "that" ]
    "func-style": [ "error", "declaration" ], // default: "off"
    "id-match": [ "error", "^(\\$)?([_a-zA-Z]{1}[_a-zA-Z0-9]*)?$", { "properties": true } ], // default: "off"
    "indent": [ "error", "tab", { "VariableDeclarator": 1, "SwitchCase": 1 } ], // default: "off"
    "key-spacing": [ "error", { "mode": "minimum" } ], // default: "off"
    "linebreak-style": [ "error", "unix" ], // default: [ 0, "unix" ]
    "lines-around-comment": [ "error", { "beforeBlockComment": true, "afterBlockComment": false, "beforeLineComment": false, "afterLineComment": false, "allowBlockStart": true, "allowBlockEnd": true, "allowObjectStart": true, "allowObjectEnd": true, "allowArrayStart": true, "allowArrayEnd": true }], // default: "off"
    "new-cap": [ "error", { "newIsCap": true, "capIsNew": true } ], // default: "off"
    "new-parens": "error", // default: "off"
    "newline-after-var": [ "error", "always" ], // default: "off"
    "newline-before-return": "error", // default: "off"
    "no-array-constructor": "error", // default: "off"
    "no-lonely-if": "error", // default: "off"
    "no-multiple-empty-lines": [ "error", { "max": 2 } ], // default: "off"
    "no-negated-condition": "error", // default: "off"
    "no-nested-ternary": "error", // default: "off"
    "no-new-object": "error", // default: "off"
    "no-spaced-func": "error", // default: "off"§
    "no-trailing-spaces": "error", // default: "off"
    "no-unneeded-ternary": "error", // default: "off"
    "object-curly-spacing": [ "error", "always" ], // default: [ "off", "never" ]
    "operator-assignment": [ "error", "always" ], // default: [ "off", "always" ]
    "operator-linebreak": [ "error", "after" ], // default: "off"
    "quote-props": [ "error", "as-needed" ], // default: "off"
    "quotes": [ "error", "single" ], // default: [ "off", "double" ]
    "semi": [ "error", "always" ], // default: "off"
    "semi-spacing": [ "error", { "before": false, "after": true } ], // default: [ "off", { "before": false, "after": true } ]
    "keyword-spacing": "error", // default: "off"
    "space-before-blocks": [ "error", "always" ], // default: [ "off", "always" ]
    "space-before-function-paren": [ "error", "never" ], // default: [ "off", "always" ]
    "space-in-parens": [ "error", "never" ], // default: [ "off", "never" ]
    "space-infix-ops": "error", // default: "off"
    "space-unary-ops": [ "error", { "words": true, "nonwords": false } ], // default: [ "off", { "words": true, "nonwords": false } ]
    "spaced-comment": [ "error", "always" ], // default: "off"
    "wrap-regex": "error" // default: "off"
  }
}
